.contenedor-botones {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botones-itemcount {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bolder;
  background-color: violet;
  border: 2px solid black;
  border-radius: 5px;
}
.botones-itemcount:hover {
  background-color: rgb(248, 182, 248);
}
.cantidad-itemcount {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agregar-carrito {
  width: 200px;
  height: 40px;
  margin: 1rem;
  background-color: rgb(248, 182, 248);
  border: 2px solid black;
  border-radius: 5px;
}
.agregar-carrito:hover {
  background-color: rgb(245, 233, 244);
}
