.contenedor-botones {
  display: flex;
  justify-content: left;
  align-items: center;
}
.botones-itemcount {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bolder;
  background-color: rgb(189, 139, 189);
  border: 2px solid rgb(189, 139, 189);
  border-radius: 5px;
}
.botones-itemcount:hover {
  background-color: rgb(245, 233, 244);
}
.cantidad-itemcount {
  width: 120px;
  height: 40px;
  text-align: center;
  padding: 1rem;
}
.agregar-carrito {
  text-align: center;
  width: 200px;
  height: 40px;
  background-color: rgb(189, 139, 189);
  border: 2px solid rgb(189, 139, 189);
  border-radius: 5px;
}
.agregar-carrito:hover {
  background-color: rgb(245, 233, 244);
}
.ver-carrito {
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 200px;
  height: 40px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.ver-carrito:hover {
  background-color: rgb(189, 139, 189);
  color: black;
}
.cards-productos {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-producto {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-loading {
  color: rgb(189, 139, 189);
  text-align: center;
}