/* Estilo Itemcount */
.contenedor-botones {
  display: flex;
  justify-content: left;
  align-items: center;
}
.botones-itemcount {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bolder;
  background-color: rgb(189, 139, 189);
  border: 2px solid rgb(189, 139, 189);
  border-radius: 5px;
}
.botones-itemcount:hover {
  background-color: rgb(245, 233, 244);
}
.cantidad-itemcount {
  width: 120px;
  height: 40px;
  text-align: center;
  padding: 1rem;
}
.agregar-carrito {
  text-align: center;
  width: 200px;
  height: 40px;
  background-color: rgb(189, 139, 189);
  border: 2px solid rgb(189, 139, 189);
  border-radius: 5px;
}
.agregar-carrito:hover {
  background-color: rgb(245, 233, 244);
}
/* Estilos ItemDetail */
.ver-carrito {
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 200px;
  height: 40px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.ver-carrito:hover {
  background-color: rgb(189, 139, 189);
  color: black;
}
.text-loading {
  color: rgb(189, 139, 189);
  text-align: center;
}
/* Estilos Item */
.cards-productos {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-producto {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-masinfo {
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 200px;
  height: 40px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.link-masinfo:hover{
  background-color: rgb(189, 139, 189);
  color: black;
}

/* Estilos Cart */
.titulo-cart {
  margin: 1rem;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  color: rgb(110, 114, 113);
}
.carrito {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-remover {
  margin: 0 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 90px;
  height: 30px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.boton-remover:hover {
  background-color: rgb(245, 233, 244);
  color: black;
}
.contenedor-boton-comprar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boton-comprar {
  margin: 1rem;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 200px;
  height: 40px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.boton-comprar:hover {
  background-color: rgb(189, 139, 189);
  color: black;
}
.ir-a-tienda {
  margin: 2rem;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  background-color: rgb(189, 139, 189);
  border: 2px solid rgb(189, 139, 189);
  border-radius: 5px;
}
.ir-a-tienda:hover {
  background-color: rgb(245, 233, 244);
  color: black;
}
/* Estilos Formulario Compra */
.form {
    display: flex;
    flex-basis: 65%;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.form-label {
  font-weight: 600;
  color: black;
}
.form-input {
  padding: 0.2rem;
  width: 16rem;
  border-radius: 5px;
  border: 1px solid rgb(189, 139, 189);
}